@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
    header a, .main_title{
        font-family:"Micro 5", sans-serif;
    }
/*@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Micro+5&family=Rakkas&display=swap');
    h1, header a{
        font-family: "Chakra Petch", sans-serif;
    }*/

/*----header----*/
header{
    text-align:center;
    padding: 5vh;
}
header a{
    font-size: 7vh;
    font-size: 7vw;
    text-decoration:none;
    color:black;
}

/*----day_night----*/
#day_night{
    display : flexbox;
    flex-direction: row-reverse;
}

/*----nav----*/
#nav_title{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    text-align:center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding-top:10px;
    padding-bottom:10px;
}
.nav_letter a{
    text-decoration:none;
    color:black;
    font-size:2.5vh
}

/*----main----*/
main{
    margin: 7vw 0 0 5vh;
    margin-top: 30px;
}
.main_title{
    font-size: 50px;
    margin-left : 5%;
}
li{
    padding: 0 0 20px 20px;
}
.website{
    text-decoration:none;
    color: black;
}
/*padding:양옆, 위아래*/

.accordion li{
    list-style : none;
    width : 85%;
    margin : 20px;
    padding : 10px;
    border-radius : 8px;
    background : #e3edf7;
    box-shadow : 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.accordion li label{
    display : flex;
    align-items : center;
    padding : 10px;
    font-size : 2.5vh;
    font-weight : 500;
    cursor : pointer;
}

label::before{
    content : '+';
    margin-right : 10px;
    font-size : 24px;
    font-weight : 600;
}

input[id*="answer"]{
    display : none;
}

input[id*="answer"] + label + .content{
    color : #555;
    padding : 0 10px;
    line-height: 26px;
    max-height :0;
    transition : all .35s;
    overflow : hidden;
}

input[id*="answer"] + label + .content p{
    display : inline-block;
}

input[id*="answer"]:checked + label + .content{
    max-height : 400px;
}

input[id*="answer"]:checked + label::before{
    content : '-';
}
